<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Test Node + Express + EJS</title>
</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <div class="sidebar-content">
        <span>Quantity</span>
        <input id="inputQuantity" name="quantity" type="number" min="1" max="99" value="<%= quantity %>" />
      </div>
    </aside>
    <main id="content">
      <% for (let i = 0; i < quantity; i++) { %>
        <div class="item">
          <span class="circle"><%= i + 1 %></span>
        </div>
      <% } %>
    </main>
  </div>
  
  <script src="script.js"></script>
</body>
</html>
